<header class="header container">
    <a href="/" class="header-logo">
        <img src="/images/link-and-live.png" alt="Link and Live" width="350" height="98" draggable="false">
    </a>
    <nav class="header-nav">
        <a href="#services">Servicios</a>
        <a href="#process">Proceso</a>
        <a href="#testimonials">Testimonios</a>
        <a href="#about">Nosotros</a>
        <a href="#contact">Contacto</a>
    </nav>
    <button class="header-burger-btn">
        <span></span>
        <span></span>
    </button>
</header>

<div class="mobile-nav">
    <a href="#services" class="mobile-nav-link">Servicios</a>
    <a href="#process" class="mobile-nav-link">Proceso</a>
    <a href="#testimonials" class="mobile-nav-link">Testimonios</a>
    <a href="#about" class="mobile-nav-link">Nosotros</a>
    <a href="#contact" class="mobile-nav-link">Contacto</a>
</div>